# Database
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# App
APP_ENV=development
APP_DEBUG=true
WEBHOOK_SHARED_SECRET=change-me
